@import "tailwindcss";

/* Global tweaks */
:root{
  --accent: #7c5cff;
  --bg: #010237;
}

body {
  background-color: var(--bg);
  color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
}

/* glass utility */
.glass {
  background: rgba(255,255,255,0.04);
  backdrop-filter: blur(6px);
}

/* small scrollbar style for code panel */
.code-scroll {
  scrollbar-width: thin;
}